{% extends 'admin/base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Création d'un nouvel évènement</h1>

    {{ include('admin/event/_form.html.twig') }}

    <a href="{{ path('admin_event_index') }}">Revenir à la liste des évènements</a>
{% endblock %}
