<div class="btn d-flex justify-content-end btn-scroll" id="btn-scroll">
	<img src={{ asset('build/images/arrow-up-solid.svg') }} class="icone bg-primary border rounded" width="45" height="45" id="btn-scroll">
</div>
